---
import Layout from '../layouts/Layout.astro';
import "../components/styles.css";
// import Card from '../components/Card.astro';
---

<Layout title="russnak.dev / coming soon">
	<main>
		<div class="container">

		</div>

	</main>
</Layout>

